/*** Reset ***/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	border: 0;
	font: inherit;
}

/*** Basics ***/
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 15px;
	font-size: 0.9rem;
	line-height: 1.7;
	color: #c2d8da;
	background-color: #393939;
}

@media (min-aspect-ratio: 16/10) {
	body{
	background: url(/images/bg.jpg) fixed bottom no-repeat;
	background-size: 100%;
	background-color: #D6BA94;
	}
}

@media (max-aspect-ratio: 16/10)
{
	body{
	background: url(/images/bg.jpg) fixed no-repeat;
	background-size: auto 100%;
	background-color: #393939;
	}
}

@media (max-aspect-ratio: 5/10)
{
	body{
	background: none;
	}
}

a:hover{
	background-color: #073642;
	border-color: #aaaa00;
	color: #aaaa00;
}

a[href$=".jpg"]:hover {
	background-color: transparent;
}

a, a:visited, a:active {
	color: #ffff00;
	padding-bottom: 2px;
}

a[onclick] {
	cursor: pointer;
}

b.author-name {
	color: orange;
	font-weight: 900;
	text-transform: uppercase;
}
h1 a, h1 a:visited, h1 a:active, h2 a, h2 a:visited, h2 a:active {
	text-decoration: none;
	color: #cb4b16;
	text-shadow: 2px 2px 0px rgba(0,0,0,1);
}

h1 a:hover, h2 a:hover{
	background-color: #073642;
	border-color: #073642;
	color: #cb4b16;
}

p > code{
	color: greenyellow ;
}

.post, #header, #header2, #sidebar1, #sidebar2, #footer, .postnavigation{
	background-color: rgba(38, 102, 93, 1);
	box-shadow: 4px 6px 10px green;
}

code {
	font: 0.85em Monaco, Courier, Monospace;
}

blockquote {
	margin: 22px 22px;
	padding: 0 20px;
	border-left: 2px solid #000000;
	font-size: 1.2em;
	font-style: italic;
	line-height: 1.5em;
	border-color: #cb4b16;
}

acronym, abbr {
	cursor: help;
	letter-spacing: 1px;
	border-bottom: 1px dashed;
}

/*** Structure ***/
#page {
	margin: 0 auto;
	position: relative;
	width: 650px;
}

#header, #header2 {
	width: 650px;
	margin: auto auto 30px auto;
	padding: 10px 0px;
	text-align: center;
}

#header2 p {
	padding: 0px 20px;
}

#header2 {
	margin: -20px auto 30px auto;
}

h1 {
	font-size: 32px;
	font-size: 2rem;
	text-indent: 0.7rem;

}

#footer {
	margin: 0 auto;
	width: 650px;
	text-align: center;
	margin-bottom: 20px;
}

#footer p{
	text-indent: 10px;
	padding: 5px;
}

#sidebar {
	position: absolute;
	text-align: right;
	width: 300px;
	top: 0;
	right: -330px;
}

#sidebar1, #sidebar2{
	padding: 2px 7px 2px 10px;
	margin-bottom: 20px;
}

#sidebar a {
	font-size: 15px;
	font-size: 0.85rem;
}

#sidebar p {
	font-size: 15px;
	font-size: 0.8rem;
}
#sidebar2 a{
	color:#c2d8da;
	text-decoration: none;
}

#sidebar2 ul{
	list-style-type:none;
	padding: 0px 5px 5px 0px;
	border: 2px dashed #c2d8da;
	height: 140px; 
	overflow: auto;
}

/*** Posts ***/
h2 {
	font-size: 30px;
	margin-left: 20px;
	text-indent: 10px;
}

article ul { 
	padding: 0 0 10px 20px;
	border: 2px dashed #c2d8da;
	margin-bottom: 5px;
}
article ul > li > ul {
	list-style-type:none;
	padding: 2px 0 10px 10px;
	margin-top: 2px;
}
article .meta {
	padding-top: 6px;
	font-size: 0.85em;
	font-style: italic;
	position: absolute;
	right: 5px;
}

article p {
	margin-bottom: 10px;
	text-indent: 20px;
}

.post {
	padding: 10px;
	margin-bottom: 20px;
}
.post-content {
	padding: 10px;
}

.readmore {
	float:right; 
	margin-top: 10px;
}

a.tes_l_image_link{
	text-decoration: none;
	color: #c2d8da;
}

.tagspage_tags{
	padding-left: 5px;
}

/* DCSS resize images */
article.post_num_2 img {
	width: 32px;
	height: auto;
	object-fit: contain;
	position: relative;
	vertical-align: middle;
}

/* my hovers for legends-decks*/
article.post_num_5 a+img {
	position: absolute;
	width: 200px;
	margin-left: -180px;
	margin-top: 22px;
	display: none;
	opacity: 0;
	transition: 0.2s;
}
article.post_num_5 a:hover+img {
	opacity: 1;
}

article.post_num_6 a+img {
	position: absolute;
	width: 200px;
	margin-left: -150px;
	margin-top: 22px;
	opacity: 0;
	transition: 0.2s;
}
article.post_num_6 a:hover+img {
	opacity: 1;
}

/*** Pagination ***/
.postnavigation {
	margin-top: -5px;
	text-align: center;
	box-shadow: 4px -2.5px 10px green;
	padding: 0px 15px;
}

.postnavigation .left {
	float: left;
}

.postnavigation .right {
	float: right;
}

@media all and (orientation: portrait) { 
	#page, #header, #header2, #footer
	{
		margin: 30px;
		width: auto;
	}

	#sidebar
	{
		position: relative;
		width: auto;
		right: 0;
	}
	#sidebar1, #siebar2 {
		margin-bottom: 0px;
		padding: 0px;
	}
	article .meta{
		font-size: 30px;
	}

	.readmore a {
		font-size: 40px;
	}
}

}