/*** Reset ***/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	border: 0;
	font: inherit;
}

/*** Basics ***/
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 15px;
	font-size: 0.9rem;
	line-height: 1.7;
}

html, body {
	color: #c2d8da;
	background-color: black;
	background-image: url(/images/bg.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

a:hover img{
	background-color: yellow;

}

a:hover{
	background-color: #073642;
	border-color: #aaaa00;
	color: #aaaa00;
}

a, a:visited, a:active {
	color: #ffff00;
	padding-bottom: 2px;
}

h1 a, h1 a:visited, h1 a:active {
	text-decoration: none;
	color: #cb4b16;
	text-shadow: 2px 2px 0px rgba(0,0,0,1);
	border: none;
}

h1 a:hover{
	background-color: #073642;
	border-color: #073642;
	color: #cb4b16;
}

/*** Pygments ***/
.highlight{
	background-color: #073642;
	color: #93a1a1;
	border: 1px solid #2d6472;
    border-radius: 3px 3px 3px 3px;
    overflow: auto;
    padding: 6px 10px;
}

.post, #header, #sidebar, #footer {
	background-color: rgba(45, 100, 114, 0.8);
	filter:drop-shadow(4px 4px 5px green);
}

code {
    font: 0.85em Monaco, Courier, Monospace;
}

blockquote {
    margin: 22px 22px;
    padding: 0 20px;
    border-left: 2px solid #000000;
    font-size: 1.2em;
    font-style: italic;
    line-height: 1.5em;
	border-color: #cb4b16;
}

acronym, abbr {
	cursor: help;
	letter-spacing: 1px;
	border-bottom: 1px dashed;
}

/*** Structure ***/
#page {
	margin: 0 auto;
	position: relative;
	width: 650px;
}

#header {
	width: 650px;
	margin: auto auto 40px auto;
	padding-top: 10px;
	text-align: center;
}
#header h1 {
	font-size: 32px;
	font-size: 2rem;
	text-indent: 0.7rem;

}

#footer {
	margin: 0 auto;
	width: 650px;
	text-align: center;
	padding: 5px;
	margin-bottom: 20px;
}

#sidebar {
	position: absolute;
	text-align: right;
	width: 200px;
	top: 0;
	right: -230px;
	padding: 2px 7px 2px 0px;
}

#sidebar a {
	font-size: 15px;
	font-size: 0.85rem;
}

#sidebar p {
	font-size: 15px;
	font-size: 0.8rem;
}

/*** Posts ***/
article h1 {
	font-size: 30px;
	margin-left: 20px;
	text-indent: 10px;
}

article ul { 
    padding: 0 0 10px 20px;
    border: 2px dashed #c2d8da;
    margin-bottom: 5px;
}

article li > ul {
	border: none;
}

article .meta {
	padding-top: 6px;
	font-size: 0.85em;
	font-style: italic;
	position: absolute;
	right: 0px;
}

article p {
	margin-bottom: 10px;
	text-indent: 20px;
}

.post {
	padding: 10px;
	margin-bottom: 20px;
}
.post-content {
	padding: 10px;
}

/* DCSS resize images */
img[src$=".png"] {
	width: 32px;
	height: auto;
	object-fit: contain;
	position: relative;
	vertical-align: middle;
}

/*** Pagination 
.postnavigation {
	padding-top: 10px;
    text-align: center;
    font-size: 0.85em;
}

.postnavigation .left {
	float: left;
}

.postnavigation .right {
	float: right;
}***/
